* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #edebeb;
}

/* Центрирование */
main {
  max-width: 900px;
  margin: 0 auto; /* центрирование main, так как он является основным контейнером для контента */
  background: white;
  padding: 20px 40px 20px 40px; /* добавляем отступ справа для лучшего вида */
}

/* Header */
header {
  max-width: 900px;
  margin: 0 auto; /* центрирование header, так как он не является частью main */
  background: #ce3648c6;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Navigation */
nav ul {
  display: flex; /* горизонтальное расположение пунктов меню */
  justify-content: center;/* центрирование пунктов меню */
  list-style: none;/* убираем маркеры списка */
  gap: 20px;/* расстояние между пунктами меню */
  margin-top: 10px; /* отступ сверху для навигации */
}

nav a {
  color: white;
  text-decoration: none;
}

a {
  color: #60a5fa;
}
/* Sections */
section {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  color: #1b1b1c;
}

/* Avatar */
.avatar {
  width: 150px;
  height: 150px;       /* теперь делаем квадрат, чтобы круг был ровным */
  object-fit: cover;   /* обрезает изображение по размеру, чтобы не искажалось */
  display: block;
  margin-bottom: 10px;
  border-radius: 50%;  /* делает круг */
  border: 3px solid #ae5097;
  
}

/* Code block */
pre {
  display: inline-block;   /* ширина по содержимому */
  background: #485872f8;
  color: rgb(169, 204, 223);
  padding: 10px;/* отступы внутри блока кода */
}

/* Footer */
footer {
  display: flex;/* горизонтальное расположение элементов в футере */
  justify-content: space-between;/* распределение элементов по краям */
  max-width: 900px;/* ширина футера, совпадает с шириной main */
  margin: 0 auto;/* центрирование футера */
  text-align: center;/* выравнивание текста по центру */
  padding: 15px;/* отступы внутри блока footer */
  background: #485872f8;
  color: rgb(188, 191, 193);
}

.logors {
  width: 50px;
  height: auto; 
}
.logogit {
  width: 70px;
  height: auto; 
}
